body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #faf6f6;
    padding: 2rem;
  }
  
  .faq-section {
    max-width: 800px;
    margin: auto;
  }
  
  .faq-question {
    background-color: #0e0e0e;
    color: #fff;
    border: none;
    width: 100%;
    text-align: left;
    padding: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    border: 1px solid #3c3c3c;
    transition: background 0.3s;
    border-radius: 15px;
    margin-top: 10px;
    
  }
  
  .faq-question:hover {
    background-color: #2e2c2c;
  }
  
  .faq-answer {
    display: none;
    padding: 1rem;
    background-color: #151515;
    border: 1px solid #3c3c3c;
    border-radius: 15px;
    margin-top: 10px;
    color: #fff;

  }
  
  .faq-item.active .faq-answer {
    display: block;
  }
  